<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Inicio{% endblock title %}</title>
</head>
<body>
    <nav>
        <li class="nav-item dropdown">
            <a href="{% url 'base' %}">Inicio</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'carrito' %}">Carrito</a>

            {% if user.is_authenticated %}
                Sesión iniciada como: {{ user.first_name }} {{user.last_name}}
                <a href="{% url 'logout_html' %}">Cerrar Sesión</a>
            {% else %}
                Usuario anónimo
                <a href="{% url 'login_html' %}">Iniciar sesión</a>
            {% endif %}
        </li>
    </nav>
    
    {% block content %}
    <h1>Página de inicio</h1>
    {% endblock content %}
</body>
</html>
